::placeholder {
  color: rgba(255, 255, 255, 0.6) !important; /* Light grey */
  opacity: 1; /* Ensure visibility */
}
/* Hide number input increment/decrement buttons */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
